<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.example.project.persistence.ClienteMapper">

	
 	 <!-- TABELLA CLIENTE --> 
 	 
	<resultMap id="cliente" type="Cliente">
		<id property="id" column="SECUST_CKEYCUST" />
		<result property="nome" column="SECUST_CCODCUS" />
		<result property="descrizione" column="SECUST_CDESCCUS" />
		<result property="registrazione" column="SECUST_GDATAINS" />	
	</resultMap>
	
	<insert id="insertCliente" parameterType="Cliente">
	  INSERT INTO SECUSTTB
	                  (SECUST_CKEYCUST,
	                   SECUST_CCODCUS,
	                   SECUST_CDESCCUS,
	                   SECUST_CCUSCENSER,
	                   SECUST_COPERINS,
	                   SECUST_GDATAINS,
	                   SECUST_COPEUVAR,
	                   SECUST_GDATUVAR)
	  VALUES
	                  (id,
	                   descrizione,
	                   nome,
	                   'N',
	                   'SPRING_EXAMPLE_PROJECT',
	                   CURRENT_TIMESTAMP,
	                   'SPRING_EXAMPLE_PROJECT',
	                   CURRENT_TIMESTAMP)
	</insert>
	
	<update id="updateCliente" parameterType="Cliente">
	  UPDATE SECUSTTB
       SET  SECUST_CKEYCUST=#{id},
	        SECUST_CCODCUS=#{nome,
	        SECUST_CDESCCUS=#{descrizione},
	        SECUST_GDATUVAR=URRENT_TIMESTAMP 
       WHERE SECUST_CKEYCUST=#{chiavePrimariaCliente}
	</update>
	
	<delete id="deleteCliente" parameterType="string">
	   DELETE FROM SECUSTTB
	    WHERE SECUST_CKEYCUST=#{chiavePrimariaCliente}   
	</delete>
	
	<select id="getCliente" parameterType="string" resultMap="cliente">
	   SELECT SECUST_CKEYCUST,
	          SECUST_CCODCUS,
	          SECUST_CDESCCUS,
	          SECUST_CCUSCENSER,
	          SECUST_COPERINS,
	          SECUST_GDATAINS,
	          SECUST_COPEUVAR,
	          SECUST_GDATUVAR
	   FROM SECUSTTB
	   WHERE SECUST_CKEYCUST=#{chiavePrimariaCliente}   
	</select>
	
	<select id="listClientiCount"  resultType="int">
	   SELECT COUNT(SECUST_CKEYCUST)
	   FROM SECUSTTB
	</select>
	
	<select id="listClienti"  resultMap="cliente">
	   SELECT  SECUST_CKEYCUST,
	           SECUST_CCODCUS,
	           SECUST_CDESCCUS,
	           SECUST_CCUSCENSER,
	           SECUST_COPERINS,
	           SECUST_GDATAINS,
	           SECUST_COPEUVAR,
	           SECUST_GDATUVAR
	   FROM SECUSTTB
	   ORDER BY SECUSTTB.SECUST_GDATAINS,SECUSTTB.SECUST_GDATUVAR,SECUSTTB.SECUST_CKEYCUST
	</select>
	
</mapper>