<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.example.project.persistence.ClienteMapper">

	
 	 <!-- TABELLA CLIENTE --> 
 	 
	<resultMap id="cliente" type="Cliente">
		<id property="id" column="id" />
		<result property="nome" column="nome" />
		<result property="descrizione" column="descrizione" />
		<result property="registrazione" column="registrazione" />	
	</resultMap>
	
	<insert id="insertCliente" parameterType="Cliente">
	  INSERT INTO CLIENTE
	  (registrazione,descrizione,nome)
	  VALUES
	  (CURRENT TIMESTAMP,#{descrizione},#{nome})
	</insert>
	
	<update id="updateCliente" parameterType="Cliente">
	  UPDATE CLIENTE
       SET descrizione=#{descrizione},nome=#{nome}
       WHERE id=#{id}
	</update>
	
	<delete id="deleteCliente" parameterType="java.math.BigInteger">
	   DELETE FROM CLIENTE
	     WHERE id = #{id}   
	</delete>
	
	<select id="getCliente" parameterType="java.math.BigInteger" resultMap="cliente">
	   SELECT registrazione,descrizione,nome,id
	   FROM CLIENTE
	   WHERE id=#{id}
	</select>
	
	<select id="listClientiCount"  resultType="int">
	   SELECT COUNT(REGISTRAZIONE)
	   FROM CLIENTE
	</select>
	
	<select id="listClienti"  resultMap="cliente">
	   SELECT registrazione,descrizione,nome,id
	   FROM CLIENTE
	   ORDER BY CLIENTE.REGISTRAZIONE,CLIENTE.ID
	</select>
	
</mapper>