@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    min-height: 100%;
}

table{
	width:99%;
}

.container {
	width: 80%;
	height: 100%;
	min-height: 100%;
    margin: 0 auto; 
}

.header {
	height: 80px;
	background-color: rgb(230, 230, 230);
}

.header h1{
	margin-bottom: 0xp;
}

.headerLeft {
	float: left;
}

.headerRight {
	float: right;
}

.content {
	height: 100%; 
    min-height: 100%;
}

.contentLeft {
	background-color: rgb(230,230,230);
    height: 100%; 
    min-height: 100%;
    width: 15%;
    float:left;
    display: table-row;	
}

.contentRight {
    /* height: 100%;
    min-height: 100%; */
    float:left;
	background-color: white;
	vertical-align: top;
	width: 85%;
	display: table-row;
}

.middle  {
	display: table;
    height: 100%; 
	background-color: white;
	vertical-align: top;
	width: 100%;
	background-color: rgb(230, 230, 230);
}

.banner {
	display: table-cell;
	vertical-align: middle;
}
a,a:visited{
	color: #427fed;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #427fed;
    cursor: pointer;
}

.banner h1, .banner h3 {
	font-size: 38px;
	margin-bottom: 15px;
	font-family: 'Open Sans', arial;
	-webkit-font-smoothing: antialiased;
	color: #555;
	font-weight: 300;
	margin-top: 0;
	text-align: center;
}

.languages {
	margin: 0px;
}

.languages li {
	float: left;
	margin-left: 5px;
	display: block;
}

.errors{
 color:red;	
}
