@CHARSET "ISO-8859-1";
.seda-ui-form{
background-color: #EFEFEF;
border:1px solid #AEAEAE;
width:800px;
margin-left:10px;
margin-top:10px;
padding:20px;
padding-bottom:50px;
font-family:Arial;
font-size:small;
}
.fright{
float:right;
}
.right{
text-align:right;
}
.left{
text-align:left;
}
.center{
text-align:center;
}

strong.seda-ui-required {
color:red;
cursor:help;
margin-left: 3px;
}

.seda-ui-ddl{margin-left:7px;}
.seda-ui-text{}
.seda-ui-textarea{margin-top:5px; margin-left:5px ; vertical-align: center;}
.seda-ui-hlnk{}
/*se l'attributo srcimage è impostato */
.seda-ui-lnkspan{};
.seda-ui-lnkimg{}	
.seda-ui-button{
float:right;
margin-right:9px;
display:block;
margin-bottom:10px;}

.seda-ui-table{margin:10px 10px 10px 10px}

.seda-ui-cell{}
.seda-ui-cellheader{background-color:#1A3d51;color:#ffffff;font-weight:#ffffff }

.seda-ui-datagridcellsx{text-align:left;}
.seda-ui-datagridcelldx{text-align:right;}

.seda-ui-menuv{width:60px; list-style-type: none; padding: 0;margin: 0;}
.seda-ui-menuo{height:30px; list-style-type: none; padding: 0;margin: 0;}
.seda-ui-hlnkmenu{color:white;background-color:#1A3d51;height:19px; font-family:Century-Gothic; font-size:14px;font-weight:700; display:block;width:90px; text-decoration: none; padding-top:5px;border:solid 1px white; padding-bottom:5px; float:left;text-align: center;}
.seda-ui-hlnkmenu:HOVER{background-color:#8F0000;}


/*Datagrid*/
.seda-ui-datagrid{margin:10px 10px 10px 10px}
.seda-ui-datagridheadercell{background-color:#1A3d51;color:#ffffff; }
.seda-ui-datagridrowpari{background-color:#CECECE; color:black;}
.seda-ui-datagridrowsdispari{ color:black;}
.seda-ui-datagridcellsx{text-align:left;}
.seda-ui-datagridcelldx{text-align:right;}
.seda-ui-controlheader{background-color:#8F0000;color:White;}
.seda-ui-formdg{color:white; margin-top:5px;}
.seda-ui-labeldg{color:White;padding-left:5px; padding-right:5px;}
.seda-ui-paginglnk{}
.seda-ui-pagingbtn{}
.seda-ui-btnup{width:100%; display:block; border:solid 1px black;  background-color: #CECECE; color:#FFFFFF; text-decoration:none;}
.seda-ui-leftleftarrow{width:25px; font-size:700; padding-left:5x; padding: 0 5px 0 5px; margin-right:5px; background-color: #8F0000; color:#EEEEEE; text-decoration:none; padding-left:5x; }
.seda-ui-leftarrow{width:25px; font-size:700; padding-left:5x;  padding: 0 5px 0 5px; margin-right:5px; background-color: #8F0000; color:#EEEEEE; text-decoration:none; padding-left:5x;  }
.seda-ui-rightrightarrow{width:25px; font-size:700; padding-left:5x;  padding: 0 5px 0 5px; margin-right:5px; background-color: #8F0000; color:#EEEEEE; text-decoration:none; padding-left:5x;  }
.seda-ui-rightarrow{width:25px; font-size:700; padding-left:5x;  padding: 0 5px 0 5px; margin-right:5px; background-color: #8F0000; color:#EEEEEE; text-decoration:none; padding-left:5x;  }
.seda-ui-btndown{width:100%;height:16px;  border:solid 1px black; display:block; background-color: #CECECE; color:#666666;border:solid 1px #FF9900; text-decoration:none}
.seda-ui-ddlpage{margin:5px 4px 5px 4px }
.seda-ui-ddlrow{margin:5px 4px 5px 4px }

.seda-ui-divvalidator{}
.seda-ui-spanvalidator{}


/*DgRecord*/
.seda-ui-dgrecord{margin:10px 10px 10px 10px}
.seda-ui-dgrecordheader{background-color:#8F0000;color:#ffffff; }
.seda-ui-dgrecordspanheader{}
.seda-ui-datarecordrowpari{background-color:#CECECE; color:black;}
.seda-ui-datarecordrowdispari{ color:black;}
.seda-ui-dgrecordtitle{background-color:#1A3d51;color:#ffffff; font-weight:700 margin-left:9px;}
.seda-ui-dgrecorddx{}
.seda-ui-dgrecordsx{background-color:#1A3d51;color:#ffffff; }

.seda-ui-error{
	border: solid 2px red;
	}
.seda-ui-diverror{
	border: solid 2px red;
	}
.seda-ui-date{margin-left:7px;
}
.seda-ui-divrow{
	min-height:30px;
}
.seda-ui-labelrow{
	width: 170px;
	text-align:right;
	display:block;
	float:left;
	padding-right: 5px;
}
.seda-ui-inputrow{
	float:left;
	width: 250px;
}
.seda-ui-box{
	min-height:30px;
}
.fleft{
float:left;
}