<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.security.persistence.ManagerMapper">

	<resultMap id="customer" type="Customer">
		<id property="id" column="id" />
		<result property="name" column="customer_name" />
		<result property="code" column="customer_code" />
	</resultMap> 	

	<resultMap id="customerUser" type="CustomerUser">
		<id property="customerId" column="customer_id" />	
		<id property="username" column="username" />
	</resultMap>
 	
	<resultMap id="application" type="Application">
		<id property="id" column="id" />
		<result property="name" column="application_name" />
	</resultMap>
	
	<resultMap id="customerApplication" type="CustomerApplication">
		<id property="customerId" column="customer_id" />
		<id property="applicationId" column="application_id" />
		<result property="returnURL" column="return_url" />
	</resultMap>
	
	<!-- ************************** -->
	<!-- **** Gestione clienti **** -->
	<!-- ************************** -->	
	<insert id="insertCustomer" parameterType="Customer">
		INSERT INTO CUSTOMERS (ID, CUSTOMER_NAME, CUSTOMER_CODE)
		VALUES (#{id},#{name},#{code})
	</insert>
	<delete id="deleteCustomer" parameterType="Customer">
		DELETE FROM CUSTOMERS
		WHERE ID=#{id}
	</delete>
	<update id="updateCustomer" parameterType="Customer">
        UPDATE CUSTOMERS
           SET customer_name=#{name}
             , customer_code=#{code}
         WHERE ID=#{id}
	</update>
	<select id="existsCustomer" parameterType="string" resultType="boolean">
	    SELECT 1 FROM CUSTOMERS WHERE CUSTOMER.ID=#{id}
	</select>	
	<select id="selectCustomer" parameterType="string">
	    SELECT CUSTOMER.ID
	         , CUSTOMER.CUSTOMER_NAME
	         , CUSTOMER.CUSTOMER_CODE
	     FROM CUSTOMERS
	     WHERE CUSTOMER.ID=#{id}
	</select>
	<select id="listCustomer" resultMap="customer">
	    SELECT CUSTOMER.ID
	         , CUSTOMER.CUSTOMER_NAME
	         , CUSTOMER.CUSTOMER_CODE
	      FROM CUSTOMERS
         WHERE ID &lt;&gt; 'SEDA'	      
	     ORDER BY ID	       		
	</select>
	<select id="listCustomerCount" resultType="int">
	    SELECT COUNT(*)
	      FROM CUSTOMERS
	    WHERE ID &lt;&gt; 'SEDA'
	</select>
		
	<!-- **** Gestione clienti/utenti **** -->
		
	<insert id="insertCustomerUser" parameterType="CustomerUser">
	   INSERT INTO CUSTOMER_USERS (CUSTOMER_ID, USERNAME)
	   VALUES (#{customer_id},#{username})
	</insert>
	<delete id="deleteCustomerUser" parameterType="CustomerUser">
		DELETE FROM CUSTOMER_USERS
		WHERE USERNAME=#{username}
	</delete>
	<select id="existsCustomerUser" parameterType="CustomerUser" resultType="boolean">
		SELECT 1
		  FROM CUSTOMER_USERS
		 WHERE CUSTOMER_ID=#{customer_id}
		   AND USERNAME=#{username}  
	</select>
	<!-- ******************************* -->
	<!-- **** Gestione applicazioni **** -->
	<!-- ******************************* -->
	<insert id="insertApplication" parameterType="Application">
		INSERT INTO APPLICATIONS (ID, APPLICATION_NAME)
		VALUES (#{id}, #{application_name})
	</insert>
	<delete id="deleteApplication" parameterType="Application">
		DELETE FROM APPLICATIONS
		 WHERE ID=#{id}
	</delete>
	<update id="updateApplication" parameterType="Application">
		UPDATE APPLICATIONS
		   SET APPLICATION_NAME=#{application_name}
		 WHERE ID=#{id}
	</update>
	<select id="existsApplication" parameterType="string" resultType="boolean">
	    SELECT 1 FROM APPLICATIONS WHERE ID=#{id}
	</select>	
	<select id="existsApplicationByName" parameterType="string" resultType="boolean">
	    SELECT 1 FROM APPLICATIONS WHERE APPLICATION_NAME=#{application_name}
	</select>	
	<select id="selectApplication" parameterType="string" resultMap="application">
	    SELECT APPLICATIONS.ID
	         , APPLICATIONS.APPLICATION_NAME
	      FROM APPLICATIONS
	     WHERE ID=#{id}
	</select>
	<select id="selectApplicationIdByName" parameterType="string" resultMap="application">
	    SELECT APPLICATIONS.ID
	         , APPLICATIONS.APPLICATION_NAME
	      FROM APPLICATIONS
	     WHERE APPLICATION_NAME=#{applicationName}
	</select>
	<select id="listApplication" resultMap="application">
		SELECT APPLICATIONS.ID
		     , APPLICATIONS.APPLICATION_NAME
		  FROM APPLICATIONS
		 WHERE ID &lt;&gt; 'SCAS'
		 ORDER BY ID
	</select>
	<select id="listApplicationCount" resultType="int">
		SELECT COUNT(*)
		  FROM APPLICATIONS
		 WHERE ID &lt;&gt; 'SCAS'	
	</select>
	
	<!-- **** Gestione clienti/applicazioni **** -->
	<insert id="insertCustomerApplication" parameterType="CustomerApplication">
		INSERT INTO CUSTOMER_APPLICATIONS (CUSTOMER_ID, APPLICATION_ID, RETURN_URL)
		VALUES (#{customerId},#{applicationId},#{returnUrl})
	</insert>
	<update id="updateCustomerApplication" parameterType="CustomerApplication">
		UPDATE CUSTOMER_APPLICATIONS
		   SET RETURN_URL=#{returnUrl}
		 WHERE CUSTOMER_ID=#{customerId}
		   AND APPLICATION_ID=#{applicationId}
	</update>
	<delete id="deleteCustomerApplication" parameterType="CustomerApplication">
		DELETE FROM CUSTOMER_APPLICATIONS
		 WHERE CUSTOMER_ID=#{customerId}
		   AND APPLICATION_ID=#{applicationId}		
	</delete>
	<select id="listCustomerApplication" parameterType="string">
		SELECT CUSTOMER_ID
		     , APPLICATION_ID
		     , RETURN_URL
		 FROM CUSTOMER_APPLICATIONS
		WHERE CUSTOMER_ID=#{customerId}
	</select>
	<select id="listCustomerApplicationCount" parameterType="string" resultType="int">
		SELECT COUNT(*)
		  FROM CUSTOMER_APPLICATIONS
		 WHERE CUSTOMER_ID=#{customerId}
	</select>				
</mapper>