<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="it.seda.security.persistence.SecurityMapper">
     
    

  
	<resultMap id="abstractAccount" type="AbstractAccount">
		<id property="username" column="SEUSER_CUSERNAME" />
		<id property="customerId" column="SECUST_CCODCUS" />
		<result property="firstName" column="SEUSER_CNOMEUSER" />
		<result property="lastName" column="SEUSER_CCOGNUSER" />
		<result property="email" column="SEUSER_CINDEMAIL" />
		<result property="codiceFiscale" column="SEUSER_CCODFISC" />
		<result property="enabled" column="SEUSER_CUSRABIL" />
		<result property="attempts" column="SEUSER_NNUMTENTIVI" />
		<result property="lastAttempt" column="SEUSER_GULTIMOTENT" />
	</resultMap> 	


	<resultMap id="mutableAccount" type="MutableAccount" extends="abstractAccount">
	<id property="chiaveTabellaRelazioneUserCliente" column="SEUTEC_CKEYUTEC"></id>	
	<id property="chiavePrimariaDellaTabellaUtentiClienti" column="SEUTEC_CKEYUTEC"></id>
    <result property="operatoreInserimento"  column="SEUTEC_COPERINS"/> 
	<result property="dataInserimento"  column="SEUTEC_GDATAINS"/> 
	<result property="operatoreUltimaVariazione" column="SEUTEC_COPEUVAR"/> 
	<result property="dataUltimaVariazione" column="SEUTEC_GDATUVAR"/> 
	<result property="chiavePrimariaDelCliente" column="SECUST_CKEYCUST"/> 
	<result property="chiavePrimariaTabellaUsers" column="SEUSER_CKEYUSER"/> 
	<result property="chiavePrimariaTabellaGruppiUtenti" column="SEGRUU_CKEYGRUU"/>
	<result property="chiavePrimariaDellaTabellaGruppi" column="SEGRUP_CKEYGRUP"/>	
	<result property="username" column="SEUSER_CUSERNAME"/>
	<result property="dataPersonaFisicaODelegato" column="SEUSER_GDATNASCITA"/>
	<result property="comuneNascitaPersonaFisicaODelegato" column="SEUSER_CCOMUNASCITA"/>
    <result property="indicaSeNascitaAllEstero" column="SEUSER_DNASCEST"/>
	<result property="tipoDocumento" column="SEUSER_CCODTIPDOC"/>
	<result property="numeroDocumento" column="SEUSER_DNUMERODOC"/>
	<result property="descrizioneEnteCheRilasciaIlDocumento" column="SEUSER_DDESCENTE"/>
	<result property="dataRilascioDocumento" column="SEUSER_GDATARILA"/>
	<result property="indicaSeIndirizzoAllEstero" column="SEUSER_DRESESTERO"/>
	<result property="indirizzoPersonaFisicaODelegato" column="SEUSER_CINDIRIZZO"/>
	<result property="comuneFiscalePersonaFisicaODelegato" column="SEUSER_CCOMUNE"/>
	<result property="frazioneDelComuneFiscalePersonaFisicaODelegato" column="SEUSER_CFRAZIONE"/>
	<result property="ilCAPDelComuneFiscalePersonaFisicaODelegato" column="SEUSER_CCAPCOMFISC"/>
	<result property="provinciaDelComuneFiscalePersonaFisicaODelegato" column="SEUSER_CPROVINCIA"/>
	<result property="numeroTelefonicoPersonaFisicaODelegato" column="SEUSER_CTELEFONO"/>
	<result property="numeroCellularePersonaFisicaODelegato" column="SEUSER_CCELLULARE"/>
	<result property="indirizzoEMailDelDelegatoOPersonaFisica" column="SEUSER_CINDEMAIL"/>
	<result property="eMailPECDelDelegatoPersonaFisica" column="SEUSER_CPECDELEG"/>
	<result property="naturaGiuridicaDellUtenza" column="SEUSER_CFLAGGIUR"/>
	<result property="codiceFiscalePIVADellAzienda" column="SEUSER_CFISCPIVAAZI"/>
	<result property="denominazioneAzienda" column="SEUSER_CDENOMIN"/>
	<result property="indicaSeSedeAllEstero" column="SEUSER_DSEDEESTERO"/>
	<result property="indirizzoAzienda" column="SEUSER_CINDAZIENDA"/>
	<result property="comuneFiscaleAzienda" column="SEUSER_CCOMUAZIE"/>
	<result property="frazioneDelComuneFiscaleDellAzienda" column="SEUSER_CFRAZAZIE"/>
	<result property="ilCAPFiscaleDellAzienda" column="SEUSER_CCAPAZIEN"/>
	<result property="provinciaDelComuneFiscaleDellAzienda" column="SEUSER_CPROVAZIEN"/>
	<result property="numeroTelefonicoAzienda" column="SEUSER_CTELEFONOAZI"/>
	<result property="numeroFaxAzienda" column="SEUSER_CNUMEROFAX"/>
	<result property="eMailAzienda" column="SEUSER_CEMAILAZI"/>
	<result property="eMailPECAzienda" column="SEUSER_CPECAZIENDA"/>
	<result property="indicaSeUtenzaAbilitata" column="SEUSER_CUSRABIL"/>
	<result property="dataRegistrazione" column="SEUSER_GDATAREG"/>
	<result property="dataScadenzaUser" column="SEUSER_GDATASCAD"/>
	<result property="dataScadenzaCredenziali" column="SEUSER_GSCADCREDEN"/>
	<result property="dataUltimoAccesso" column="SEUSER_GULTIMOACC"/>
	</resultMap>
 	
	<resultMap id="account" type="Account" extends="abstractAccount">
		<result property="registration" column="SEUSER_GDATAREG" />
		<result property="expiration" column="SEUSER_GDATASCAD" />
		<result property="credentialsExpiration" column="SEUSER_GSCADCREDEN" />
	</resultMap>
	
	<resultMap id="group" type="Group">
		<id property="chiavePrimariaDellaTabellaGruppi" column="SEGRUP_CKEYGRUP" />
		<result property="chiaveGruppo" column="SEGRUP_CCODGRUPPO" />
	    <result property="descrizioneGruppo" column="SEGRUP_CDESGRUPPO" />
	    <result property="operatoreInserimento" column="SEGRUP_COPERINS" />
	    <result property="dataInserimento" column="SEGRUP_GDATAINS" />
	    <result property="operatoreUltimaVariazione" column="SEGRUP_COPEUVAR" />
	    <result property="dataUltimaVariazione" column="SEGRUP_GDATUVAR" />
	    <result property="chiavePrimariaDelCliente" column="SECUST_CKEYCUST" />
	</resultMap>
	
	<resultMap id="accountComplete" type="Account" extends="account">
		<collection property="authorities" ofType="Authority">
			<result column="authority" property="name" />
		</collection>
	</resultMap>
	
	
	<resultMap id="legameGruppo" type="LegameGruppo">
		<id property="chiavePrimariaLegameGruppoApplicazioniModuloFunzioniSottoFunzioni" column="SELGFN_CKEYLGFN" />
		<result property="operatoreInserimento" column="SELGFN_COPERINS" /> 
		<result property="dataInserimento" column="SELGFN_GDATAINS" /> 
		<result property="operatoreUltimaVariazione" column="SELGFN_COPEUVAR" /> 
		<result property="dataUltimaVariazione" column="SELGFN_GDATUVAR" /> 
		<result property="chiavePrimariaDellaTabellaGruppi" column="SEGRUP_CKEYGRUP" /> 
		<result property="chiavePrimariaLegameApplicazioniFunzioniSottofunzioni" column="SELFNS_CKEYLFNS" />  
	</resultMap>
	
	
	
	<resultMap id="legameFunzione" type="LegameFunzione">
		<id property="chiavePrimariaDelLegameApplicazioniFunzioniSottofunzioni" column="SELFNS_CKEYLFNS" />
		<result property="operatoreInserimento" column="SELFNS_COPERINS" /> 
		<result property="dataInserimento" column="SELFNS_GDATAINS" /> 
		<result property="operatoreUltimaVariazione" column="SELFNS_COPEUVAR" /> 
		<result property="dataUltimaVariazione" column="SELFNS_GDATUVAR" /> 
		<result property="chiavePrimariaDelleApplicazioni" column="SEAPPL_CKEYAPPL" /> 
		<result property="chiavePrimariaDeiModuliDelleApplicazioni" column="SEMODU_CKEYMODU" /> 
		<result property="chiavePrimariaDelleFunzioni" column="SEFUNZ_CKEYFUNZ" /> 
		<result property="chiavePrimariaDelleSottoFunzioni" column="SESFUN_CKEYSFUN" /> 
	</resultMap>
	
	
	<resultMap id="modulo" type="Modulo">
		<id property="chiavePrimariaDeiModuliDelleApplicazioni" column="SEMODU_CKEYMODU" />
		<result property="codiceModulo" column="SEMODU_CCODMODU" /> 
		<result property="descrizioneModulo" column="SEMODU_CDESCMODU" /> 
		<result property="operatoreInserimento" column="SEMODU_COPERINS" /> 
		<result property="dataInserimento" column="SEMODU_GDATAINS" /> 
		<result property="operatoreUltimaVariazione" column="SEMODU_COPEUVAR" /> 
		<result property="dataUltimaVariazione" column="SEMODU_GDATUVAR" /> 
	</resultMap>
	
	
	<resultMap id="funzione" type="Funzione">
		<id property="chiavePrimariaDelleFunzioni" column="SEFUNZ_CKEYFUNZ" />
		<result property="codiceFunzione" column="SEFUNZ_CCODFUN" /> 
		<result property="descrizioneFunzione" column="SEFUNZ_CDESCFUN" /> 
		<result property="operatoreInserimento" column="SEFUNZ_COPERINS" /> 
		<result property="dataInserimento" column="SEFUNZ_GDATAINS" /> 
		<result property="operatoreUltimaVariazione" column="SEFUNZ_COPEUVAR" /> 
		<result property="dataUltimaVariazione" column="SEFUNZ_GDATUVAR" /> 
	</resultMap>
	
	
	<resultMap id="sottoFunzione" type="sottoFunzione">
		<id property="chiavePrimariaDelleSottoFunzioni" column="SESFUN_CKEYSFUN" />
		<result property="codiceSottoFunzione" column="SESFUN_CCODSFU" /> 
		<result property="descrizioneSottoFunzione" column="SESFUN_CDESCSFU" /> 
		<result property="operatoreInserimento" column="SESFUN_COPERINS" /> 
		<result property="dataInserimento" column="SESFUN_GDATAINS" /> 
		<result property="operatoreUltimaVariazione" column="SESFUN_COPEUVAR" /> 
		<result property="dataUltimaVariazione" column="SESFUN_GDATUVAR" /> 
	</resultMap>


     <resultMap id="signon" type="Signon"> 
		<id property="chiaveTabellaDellePasswordDellUtenza" column="SEPWRD_CKEYPWRD" />
		<id property="passwordValidaDellUtenza" column="SEPWRD_CPASSWORD" />
		<result property="ultimaPasswordValidaDellUtenza" column="SEPWRD_CPASSWOLD" />
		<result property="penultimaPasswordValidaDellUtenza" column="SEPWRD_CPASSOLDO" />
		<result property="operatoreInserimento" column="SEPWRD_COPERINS" />
		<result property="dataInserimento" column="SEPWRD_GDATAINS" />
		<result property="operatoreUltimaVariazione" column="SEPWRD_COPEUVAR" />
		<result property="dataUltimaVariazione" column="SEPWRD_GDATUVAR" />
		<result property="chiavePrimariaTabellaUsers" column="SEUSER_CKEYUSER" />
	</resultMap> 

<select id="getAccountByUsername" parameterType="string" resultMap="accountComplete">
SELECT  SEUSERTB.SEUSER_CKEYUSER,
        SEUSERTB.SEUSER_CNOMEUSER,
        SEUSERTB.SEUSER_CCOGNUSER,
        SEUSERTB.SEUSER_CINDEMAIL,
        SEUSERTB.SEUSER_CCODFISC,
        SEUSERTB.SEUSER_CUSRABIL,
        SEUSERTB.SEUSER_GDATAREG,
        SEUSERTB.SEUSER_GDATASCAD,
        SEUSERTB.SEUSER_GSCADCREDEN,
        SEUSERTB.SEUSER_NNUMTENTIVI,
        SEUSERTB.SEUSER_GULTIMOTENT,
        CONCAT(SEAPPLTB.SEAPPL_CCODAPP,'_')||COALESCE(CONCAT(SEMODUTB.SEMODU_CCODMODU,'_'),'') || COALESCE(CONCAT(SEFUNZTB.SEFUNZ_CCODFUN,'_'),'') || COALESCE(SESFUNTB.SESFUN_CCODSFU,'') as authority
FROM SECUSTTB
INNER JOIN SEUTECTB
ON SEUTECTB.SECUST_CKEYCUST = SECUSTTB.SECUST_CKEYCUST
AND SEUTECTB.SEUSER_CUSERNAME = #{username}
INNER JOIN SEUSERTB
ON SEUSERTB.SEUSER_CUSERNAME = SEUTECTB.SEUSER_CUSERNAME
AND SEUSERTB.SEUSER_CCODFISC = SEUTECTB.SEUSER_CCODFISC
INNER JOIN SEGRUUTB
ON SEGRUUTB.SEUTEC_CKEYUTEC=SEUTECTB.SEUTEC_CKEYUTEC
INNER JOIN SEGRUPTB
ON SEGRUPTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELGFNTB
ON SELGFNTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELFNSTB
ON SELFNSTB.SELFNS_CKEYLFNS=SELGFNTB.SELFNS_CKEYLFNS
INNER JOIN SEAPPLTB
ON SEAPPLTB.SEAPPL_CKEYAPPL=SELFNSTB.SEAPPL_CKEYAPPL
INNER JOIN SEMODUTB
ON SEMODUTB.SEMODU_CKEYMODU=SELFNSTB.SEMODU_CKEYMODU
INNER JOIN SEFUNZTB
ON SEFUNZTB.SEFUNZ_CKEYFUNZ=SELFNSTB.SEFUNZ_CKEYFUNZ
INNER JOIN SESFUNTB
ON SESFUNTB.SESFUN_CKEYSFUN=SELFNSTB.SESFUN_CKEYSFUN
</select>

<select id="getMutableAccountByUsername" parameterType="string" resultMap="mutableAccount">
     SELECT  SEUSERTB.SEUSER_CKEYUSER,
        SEUSERTB.SEUSER_CNOMEUSER,
        SEUSERTB.SEUSER_CCOGNUSER,
        SEUSERTB.SEUSER_CINDEMAIL,
        SEUSERTB.SEUSER_CCODFISC,
        SEUSERTB.SEUSER_CUSRABIL,
        SEUSERTB.SEUSER_GDATAREG,
        SEUSERTB.SEUSER_GDATASCAD,
        SEUSERTB.SEUSER_GSCADCREDEN,
        SEUSERTB.SEUSER_NNUMTENTIVI,
        SEUSERTB.SEUSER_GULTIMOTENT,
        SECUSTTB.SECUST_CKEYCUST,
        SEGRUPTB.SEGRUP_CKEYGRUP,
        SEUTECTB.SEUTEC_COPERINS,
	    SEUTECTB.SEUTEC_GDATAINS,
	    SEUTECTB.SEUTEC_COPEUVAR,
	    SEUTECTB.SEUTEC_GDATUVAR,
	    SECUSTTB.SECUST_CKEYCUST,
	    SEUSERTB.SEUSER_CKEYUSER,
	    SEGRUUTB.SEGRUU_CKEYGRUU,
	    SEGRUPTB.SEGRUP_CKEYGRUP
      FROM SEUSERTB
      INNER JOIN SEUTECTB 
      ON SEUTECTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
      INNER JOIN SEGRUUTB
      ON SEGRUUTB.SEUTEC_CKEYUTEC=SEUTECTB.SEUTEC_CKEYUTEC
      INNER JOIN SEGRUPTB
      ON SEGRUPTB.SEGRUP_CKEYGRUP=SEGRUUTB.SEGRUP_CKEYGRUP
      INNER JOIN SECUSTTB
      ON SECUSTTB.SECUST_CKEYCUST=SEUTECTB.SECUST_CKEYCUST
      WHERE SEUSERTB.SEUSER_CUSERNAME=#{chiavePrimariaTabellaUsers}
</select>

<!--  ORACLE DB FINE -->

<!-- 
	<select id="findPasswordByUsername" parameterType="Account" resultType="string">
		SELECT SIGNON.password
		  FROM SIGNON
		 WHERE SIGNON.username = #{username}
	</select>
-->	

<!-- ORACLE DB INIZIO -->
<select id="findPasswordByCustumerUser" parameterType="UsernameClient" resultType="string">	
SELECT SEPWRDTB.SEPWRD_CPASSWORD
FROM SEPWRDTB INNER JOIN SEUSERTB
ON SEPWRDTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
WHERE SEUSERTB.SEUSER_CUSERNAME =  #{username}	
</select>

<select id="groupsList"  resultMap="group">
		SELECT SEGRUPTB.SEGRUP_CKEYGRUP,
         SEGRUPTB.SEGRUP_CCODGRUPPO,
         SEGRUPTB.SEGRUP_CDESGRUPPO,
         SEGRUPTB.SEGRUP_COPERINS,
         SEGRUPTB.SEGRUP_GDATAINS,
         SEGRUPTB.SEGRUP_COPEUVAR,
         SEGRUPTB.SEGRUP_GDATUVAR,
         SEGRUPTB.SECUST_CKEYCUST,
  FROM   SEGRUPTB 
  ORDER BY SEGRUP_CCODGRUPPO 
</select>

	<select id="listAccount"  parameterType="string" resultMap="mutableAccount">
	SELECT  SEUSERTB.SEUSER_CKEYUSER,
          SEUSERTB.SEUSER_CNOMEUSER,
          SEUSERTB.SEUSER_CCOGNUSER,
        SEUSERTB.SEUSER_CINDEMAIL,
        SEUSERTB.SEUSER_CUSRABIL,
        SEUSERTB.SEUSER_GDATAREG,
        SEUSERTB.SEUSER_GDATASCAD,
        SEUSERTB.SEUSER_GSCADCREDEN,
        SEUSERTB.SEUSER_NNUMTENTIVI,
        SEUSERTB.SEUSER_GULTIMOTENT,
        SECUSTTB.SECUST_CKEYCUST,
        SEGRUPTB.SEGRUP_CKEYGRUP,
        SEUTECTB.SEUTEC_COPERINS,
	    SEUTECTB.SEUTEC_GDATAINS,
	    SEUTECTB.SEUTEC_COPEUVAR,
	    SEUTECTB.SEUTEC_GDATUVAR,
	    SECUSTTB.SECUST_CKEYCUST,
	    SEUSERTB.SEUSER_CKEYUSER,
	    SEGRUUTB.SEGRUU_CKEYGRUU,
	  SEGRUPTB.SEGRUP_CKEYGRUP
      FROM SEUSERTB
      INNER JOIN SEUTECTB 
      ON SEUTECTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
      INNER JOIN SEGRUUTB
      ON SEGRUUTB.SEUTEC_CKEYUTEC=SEUTECTB.SEUTEC_CKEYUTEC
      INNER JOIN SEGRUPTB
      ON SEGRUPTB.SEGRUP_CKEYGRUP=SEGRUUTB.SEGRUP_CKEYGRUP
      INNER JOIN SECUSTTB
      ON SECUSTTB.SECUST_CKEYCUST=SEUTECTB.SECUST_CKEYCUST
      WHERE SEUSERTB.SEUSER_CKEYUSER!='admin'
	  AND SECUSTTB.SECUST_CKEYCUST=#{customerId}		
      ORDER BY SEUSERTB.SEUSER_CKEYUSER
	</select>
	
	 <select id="listAccountCount"  parameterType="string" resultType="int">
	 SELECT COUNT(SEUSERTB.SEUSER_CKEYUSER)
       FROM SEUSERTB
       INNER JOIN SEUTECTB
       ON SEUTECTB.SEUSER_CKEYUSER=USERS.EUSERTB.SEUSER_CKEYUSER
       WHERE EUSERTB.SEUSER_CKEYUSER &lt;&gt; 'admin'
       AND CEUTECTB.SEUSER_CKEYUSER=#{customerId}
      </select> 
       
       
   
	<insert id="insertAccount" parameterType="MutableAccount">
	 INSERT INTO SEUSERTB
		   (SEUSERTB.SEUSER_CKEYUSER,
		    SEUSERTB.SEUSER_CUSERNAME,
		    SEUSERTB.SEUSER_CCODFISC,
		    SEUSERTB.SEUSER_CCOGNUSER,
		    SEUSERTB.SEUSER_CNOMEUSER,
		    SEUSERTB.SEUSER_GDATNASCITA,
		    SEUSERTB.SEUSER_CCOMUNASCITA,
		    SEUSERTB.SEUSER_DNASCEST,
		    SEUSERTB.SEUSER_CCODTIPDOC,
		    SEUSERTB.SEUSER_DNUMERODOC,
		    SEUSERTB.SEUSER_DDESCENTE,
		    SEUSERTB.SEUSER_GDATARILA,
		    SEUSERTB.SEUSER_DRESESTERO,
		    SEUSERTB.SEUSER_CINDIRIZZO,
		    SEUSERTB.SEUSER_CCOMUNE,
		    SEUSERTB.SEUSER_CFRAZIONE,
		    SEUSERTB.SEUSER_CCAPCOMFISC,
		    SEUSERTB.SEUSER_CPROVINCIA,
		    SEUSERTB.SEUSER_CTELEFONO,
		    SEUSERTB.SEUSER_CCELLULARE,
		    SEUSERTB.SEUSER_CINDEMAIL,
		    SEUSERTB.SEUSER_CPECDELEG,
		    SEUSERTB.SEUSER_CFLAGGIUR,
		    SEUSERTB.SEUSER_CFISCPIVAAZI,
		    SEUSERTB.SEUSER_CDENOMIN,
		    SEUSERTB.SEUSER_DSEDEESTERO,
		    SEUSERTB.SEUSER_CINDAZIENDA,
		    SEUSERTB.SEUSER_CCOMUAZIE,
		    SEUSERTB.SEUSER_CFRAZAZIE,
		    SEUSERTB.SEUSER_CCAPAZIEN,
		    SEUSERTB.SEUSER_CPROVAZIEN,
		    SEUSERTB.SEUSER_CTELEFONOAZI,
		    SEUSERTB.SEUSER_CNUMEROFAX,
		    SEUSERTB.SEUSER_CEMAILAZI,
		    SEUSERTB.SEUSER_CPECAZIENDA,
		    SEUSERTB.SEUSER_CUSRABIL,
		    SEUSERTB.SEUSER_GDATAREG,
		    SEUSERTB.SEUSER_GDATASCAD,
		    SEUSERTB.SEUSER_GSCADCREDEN,
		    SEUSERTB.SEUSER_NNUMTENTIVI,
		    SEUSERTB.SEUSER_GULTIMOTENT,
		    SEUSERTB.SEUSER_GULTIMOACC,
		    SEUSERTB.SEUSER_COPERINS,
		    SEUSERTB.SEUSER_GDATAINS,
		    SEUSERTB.SEUSER_COPEUVAR,
		    SEUSERTB.SEUSER_GDATUVAR
		    )
		   VALUES
		   (#{chiavePrimariaTabellaUsers},
		   #{username},
		   #{codiceFiscale},
		   #{lastName},
		   #{firstName},
		   #{dataPersonaFisicaODelegato},
		   #{comuneNascitaPersonaFisicaODelegato},
		   #{indicaSeNascitaAllEstero},
		   #{tipoDocumento},
		   #{numeroDocumento},
		   #{descrizioneEnteCheRilasciaIlDocumento},
		   #{dataRilascioDocumento},
		   #{indicaSeIndirizzoAllEstero},
		   #{indirizzoPersonaFisicaODelegato},
		   #{comuneFiscalePersonaFisicaODelegato},
		   #{frazioneDelComuneFiscalePersonaFisicaODelegato},
		   #{ilCAPDelComuneFiscalePersonaFisicaODelegato},
		   #{provinciaDelComuneFiscalePersonaFisicaODelegato},
		   #{numeroTelefonicoPersonaFisicaODelegato},
		   #{numeroCellularePersonaFisicaODelegato},
		   #{email},
		   #{eMailPECDelDelegatoPersonaFisica},
		   #{naturaGiuridicaDellUtenza},
		   #{codiceFiscalePIVADellAzienda},
		   #{denominazioneAzienda},
		   #{indicaSeSedeAllEstero},
		   #{indirizzoAzienda},
		   #{comuneFiscaleAzienda},
		   #{frazioneDelComuneFiscaleDellAzienda},
		   #{ilCAPFiscaleDellAzienda},
		   #{provinciaDelComuneFiscaleDellAzienda},
		   #{numeroTelefonicoAzienda},
		   #{numeroFaxAzienda},
		   #{eMailAzienda},
		   #{eMailPECAzienda},
		   #{indicaSeUtenzaAbilitata},
		   #{dataRegistrazione},
           #{dataScadenzaUser},
           #{dataScadenzaCredenziali},
           #{attempts},
		   #{lastAttempt},
		   #{dataUltimoAccesso},
		   #{operatoreInserimento},
		   CURRENT_TIMESTAMP,
		   #{operatoreUltimaVariazione},
		   #{dataUltimaVariazione}
		   )
    </insert>
	
 <update id="updateAccount" parameterType="MutableAccount">
  UPDATE SEUSERTB
       SET SEUSERTB.SEUSER_CNOMEUSER=#{firstName}
         , SEUSERTB.SEUSER_CUSERNAME=#{username}
         , SEUSERTB.SEUSER_CCOGNUSER=#{lastName}
         , SEUSERTB.SEUSER_CINDEMAIL=#{email}
         , SEUSERTB.SEUSER_CUSRABIL=#{enabled}
       WHERE SEUSERTB.SEUSER_CKEYUSER=#{chiavePrimariaTabellaUsers}
 </update>

<update id="loginFailure" parameterType="string">
	   UPDATE SEUSERTB
	      SET SEUSER_NNUMTENTIVI=SEUSER_NNUMTENTIVI+1
	        , SEUSER_GULTIMOTENT=CURRENT_TIMESTAMP
       WHERE SEUSER_CUSERNAME=#{username}
	</update>

<!--  
<insert id="insertDefaultGroupMember" parameterType="string">
		INSERT INTO SEGRUUTB(SEGRUU_CKEYGRUU,SEGRUU_COPERINS,SEGRUU_GDATAINS,SEGRUU_COPEUVAR,SEGRUU_GDATUVAR,SEGRUP_CKEYGRUP,SEUTEC_CKEYUTEC)
		   SELECT ?????????,'CAS',CURRENT_TIMESTAMP,#{chiavePrimariaTabellaUsers},SEUTEC_CKEYUTEC FROM SEGRUPTB 
		   WHERE SEGRUPTB.SEGRUPTB='users'
	</insert>
-->

 <delete id="deleteGroupMember" parameterType="GroupMember">
	    DELETE FROM SEGRUUTB
	     WHERE SEGRUP_CKEYGRUP = #{chiavePrimariaDellaTabellaGruppi}
	       AND SEUTEC_CKEYUTEC = #{chiavePrimariaDellaTabellaUtentiClienti}
	</delete>
 
 <insert id="insertGroupMember" parameterType="GroupMember">
	    INSERT INTO SEGRUUTB (SEGRUU_CKEYGRUU, SEGRUU_COPERINS,SEGRUU_GDATAINS,SEGRUU_COPEUVAR,SEGRUU_GDATUVAR,SEGRUP_CKEYGRUP,SEUTEC_CKEYUTEC)
		VALUES(#{chiavePrimariaTabellaGruppiUtenti},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP,(SELECT SEGRUPTB.SEGRUP_CKEYGRUP FROM SEGRUPTB WHERE SEGRUP_CKEYGRUP=#{chiavePrimariaDellaTabellaGruppi}),#{chiavePrimariaDellaTabellaUtentiClienti}) 
	</insert> 
 <!-- ORACLE DB FINE -->
 <!-- 
	<update id="updateGroupMember" parameterType="GroupMember">
	  UPDATE GROUP_MEMBERS
	   SET GROUP_MEMBERS.GROUP_ID=(SELECT GROUPS.ID FROM GROUPS WHERE GROUPS.GROUP_NAME=#{groupName})
	   WHERE GROUP_MEMBERS.USERNAME=#{username}
	</update>
 -->
 <!-- ORACLE DB INIZIO -->
 <update id="updateGroupMember" parameterType="GroupMember">
	UPDATE SEGRUUTB
	   SET SEGRUUTB.SEGRUP_CKEYGRUP=(SELECT SEGRUPTB.SEGRUP_CKEYGRUP FROM SEGRUPTB WHERE SEGRUPTB.SEGRUP_CCODGRUPPO=#{chiaveGruppo}),
	   SEGRUU_GDATUVAR=CURRENT_TIMESTAMP
	   WHERE SEGRUUTB.SEUTEC_CKEYUTEC=#{chiavePrimariaDellaTabellaUtentiClienti}
	</update>
  
<delete id="deleteAccount" parameterType="string">
  DELETE FROM SEUSERTB
       WHERE SEUSERTB.SEUSER_CKEYUSER=#{SEUSER_CKEYUSER}
</delete>

    <update id="updateSignon" parameterType="Signon">
	    UPDATE SEPWRDTB 
	    SET SEPWRDTB.SEPWRD_CPASSWORD = #{passwordValidaDellUtenza},
	    SEPWRD_CPASSWOLD=#{ultimaPasswordValidaDellUtenza},
	    SEPWRD_CPASSOLDO=#{penultimaPasswordValidaDellUtenza},
	    SEPWRD_COPEUVAR=#{operatoreUltimaVariazione},
	    SEPWRD_GDATUVAR=CURRENT_TIMESTAMP
		WHERE SEUSER_CKEYUSER = #{chiavePrimariaTabellaUsers}
	</update>

    <update id="updateCredentialsExpiration" parameterType="string">
		 UPDATE SEUSERTB SET SEUSERTB.SEUSER_GSCADCREDEN = SYSDATE +30
		  WHERE SEUSERTB.SEUSER_CKEYUSER = #{username}
	</update>

<insert id="insertSignon" parameterType="Signon">
		INSERT INTO SEPWRDTB (SEPWRD_CKEYPWRD,
		                    SEPWRD_CPASSWORD,
		                    SEPWRD_CPASSWOLD,
		                    SEPWRD_CPASSOLDO,
		                    SEPWRD_COPERINS,
		                    SEPWRD_GDATAINS,
		                    SEPWRD_COPEUVAR,
		                    SEPWRD_GDATUVAR,
		                    SEUSER_CKEYUSER)
		VALUES (#{chiaveTabellaDellePasswordDellUtenza}, 
		        #{passwordValidaDellUtenza},
		        #{ultimaPasswordValidaDellUtenza},
		        #{penultimaPasswordValidaDellUtenza},
		        #{operatoreInserimento},
		        CURRENT_TIMESTAMP,
		        #{operatoreUltimaVariazione},
		        CURRENT_TIMESTAMP,
		        #{chiavePrimariaTabellaUsers})
</insert>
<!-- GESTIONE TABELLA GRUPPI-->


<insert id="insertGroup" parameterType="Group">
	    INSERT INTO SEGRUPTB (SEGRUP_CKEYGRUP, SEGRUP_CCODGRUPPO,SEGRUP_CDESGRUPPO,SEGRUP_COPERINS,SEGRUP_GDATAINS,SEGRUP_COPEUVAR,SEGRUP_GDATUVAR,SECUST_CKEYCUST)
		VALUES(#{chiavePrimariaDellaTabellaGruppi},#{chiaveGruppo},#{descrizioneGruppo},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP,#{chiavePrimariaDelCliente}) 
</insert> 



<!-- GESTIONE TABELLA LEGAME GRUPPOFUNZIONI -->

<insert id="insertGruppoFunzione" parameterType="LegameGruppo">
	    INSERT INTO SELGFNTB (SELGFN_CKEYLGFN, SELGFN_COPERINS,SELGFN_GDATAINS,SELGFN_COPEUVAR,SELGFN_GDATUVAR,SEGRUP_CKEYGRUP,SELFNS_CKEYLFNS)
		VALUES(#{chiavePrimariaLegameGruppoApplicazioniModuloFunzioniSottoFunzioni},#{operatoreInserimento},#{dataInserimento},#{operatoreUltimaVariazione},#{dataUltimaVariazione},#{chiavePrimariaDellaTabellaGruppi},#{chiavePrimariaLegameApplicazioniFunzioniSottofunzioni}) 
</insert> 

<!-- GESTIONE TABELLA LEGAME FUNZIONI -->

<insert id="insertLegameFunzione" parameterType="LegameFunzione">
	    INSERT INTO SELFNSTB (SELFNS_CKEYLFNS, SELFNS_COPERINS,SELFNS_GDATAINS,SELFNS_COPEUVAR,SELFNS_GDATUVAR,SEAPPL_CKEYAPPL,SEMODU_CKEYMODU,SEFUNZ_CKEYFUNZ,SESFUN_CKEYSFUN)
		VALUES(#{chiavePrimariaDelLegameApplicazioniFunzioniSottofunzioni},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP,#{chiavePrimariaDelleApplicazioni},#{chiavePrimariaDeiModuliDelleApplicazioni},#{chiavePrimariaDelleFunzioni},#{chiavePrimariaDelleSottoFunzioni}) 
</insert> 


<!-- GESTIONE TABELLA MODULO -->
<insert id="insertModulo" parameterType="Modulo">
	    INSERT INTO SEMODUTB (SEMODU_CKEYMODU, SEMODU_CCODMODU,SEMODU_CDESCMODU,SEMODU_COPERINS,SEMODU_GDATAINS,SEMODU_COPEUVAR,SEMODU_GDATUVAR)
		VALUES(#{chiavePrimariaDeiModuliDelleApplicazioni},#{codiceModulo},#{descrizioneModulo},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP) 
</insert> 

<!-- GESTIONE TABELLA FUNZIONI -->
<insert id="insertFunzione" parameterType="Funzione">
	    INSERT INTO SEFUNZTB (SEFUNZ_CKEYFUNZ, SEFUNZ_CCODFUN,SEFUNZ_CDESCFUN,SEFUNZ_COPERINS,SEFUNZ_GDATAINS,SEFUNZ_COPEUVAR,SEFUNZ_GDATUVAR)
		VALUES(#{chiavePrimariaDelleFunzioni},#{codiceFunzione},#{descrizioneFunzione},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP) 
</insert> 


<!-- GESTIONE TABELLA SOTTO_FUNZIONI -->
<insert id="insertSottoFunzione" parameterType="SottoFunzione">
	    INSERT INTO SESFUNTB (SESFUN_CKEYSFUN, SESFUN_CCODSFU,SESFUN_CDESCSFU,SESFUN_COPERINS,SESFUN_GDATAINS,SESFUN_COPEUVAR,SESFUN_GDATUVAR)
		VALUES(#{chiavePrimariaDelleSottoFunzioni},#{codiceSottoFunzione},#{descrizioneSottoFunzione},#{operatoreInserimento},CURRENT_TIMESTAMP,#{operatoreUltimaVariazione},CURRENT_TIMESTAMP) 
</insert> 

<!-- recupero account per id applicazione utente e cliente -->
<select id="getAccountByCustomerUser" parameterType="UsernameClient" resultMap="accountComplete">
SELECT SEUSERTB.SEUSER_CKEYUSER,
        SEUSERTB.SEUSER_CNOMEUSER,
        SEUSERTB.SEUSER_CUSERNAME,
        SEUSERTB.SEUSER_CCOGNUSER,
        SEUSERTB.SEUSER_CINDEMAIL,
        SEUSERTB.SEUSER_CCODFISC,
        SEUSERTB.SEUSER_CUSRABIL,
        SEUSERTB.SEUSER_GDATAREG,
        SEUSERTB.SEUSER_GDATASCAD,
        SEUSERTB.SEUSER_GSCADCREDEN,
        SEUSERTB.SEUSER_NNUMTENTIVI,
        SEUSERTB.SEUSER_GULTIMOTENT,
        SECUSTTB.SECUST_CCODCUS,
        CONCAT(SEAPPLTB.SEAPPL_CCODAPP,'_')||COALESCE(CONCAT(SEMODUTB.SEMODU_CCODMODU,'_'),'') || COALESCE(CONCAT(SEFUNZTB.SEFUNZ_CCODFUN,'_'),'') || COALESCE(SESFUNTB.SESFUN_CCODSFU,'') as authority
FROM SECUSTTB
INNER JOIN SEUTECTB
ON SEUTECTB.SECUST_CKEYCUST = SECUSTTB.SECUST_CKEYCUST
AND SEUTECTB.SEUSER_CUSERNAME =  #{username}
INNER JOIN SEUSERTB
ON SEUSERTB.SEUSER_CUSERNAME = SEUTECTB.SEUSER_CUSERNAME
AND SEUSERTB.SEUSER_CCODFISC = SEUTECTB.SEUSER_CCODFISC
INNER JOIN SEGRUUTB
ON SEGRUUTB.SEUTEC_CKEYUTEC=SEUTECTB.SEUTEC_CKEYUTEC
INNER JOIN SEGRUPTB
ON SEGRUPTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELGFNTB
ON SELGFNTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELFNSTB
ON SELFNSTB.SELFNS_CKEYLFNS=SELGFNTB.SELFNS_CKEYLFNS
INNER JOIN SEAPPLTB
ON SEAPPLTB.SEAPPL_CKEYAPPL=SELFNSTB.SEAPPL_CKEYAPPL
INNER JOIN SEMODUTB
ON SEMODUTB.SEMODU_CKEYMODU=SELFNSTB.SEMODU_CKEYMODU
INNER JOIN SEFUNZTB
ON SEFUNZTB.SEFUNZ_CKEYFUNZ=SELFNSTB.SEFUNZ_CKEYFUNZ
INNER JOIN SESFUNTB
ON SESFUNTB.SESFUN_CKEYSFUN=SELFNSTB.SESFUN_CKEYSFUN
WHERE SECUSTTB.SECUST_CCODCUS = #{customerId}
</select>



<select id="findURLBackByCustumerApplication" parameterType="customerApplication" resultType="string">	
SELECT SEAPPC_CURLAPPLCLIENTE 
FROM SEAPPCTB
WHERE SEAPPL_CKEYAPPL=#{chiavePrimariaDelleApplicazioni}
AND SECUST_CKEYCUST=#{chiavePrimariaDelCliente}
</select>	

<select id="findURLBackByCustumerCodeApplication" parameterType="customerCodeApplication" resultType="string">	
SELECT SEAPPC_CURLAPPLCLIENTE 
FROM SEAPPCTB
INNSER JOIN SECUSTTB
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
WHERE SEAPPL_CKEYAPPL=#{chiavePrimariaDelleApplicazioni}
</select>




<select id="getAccountByTicket" parameterType="string" resultMap="accountComplete">
SELECT  SEUSERTB.SEUSER_CKEYUSER,
        SEUSERTB.SEUSER_CNOMEUSER,
        SEUSERTB.SEUSER_CUSERNAME,
        SEUSERTB.SEUSER_CCOGNUSER,
        SEUSERTB.SEUSER_CINDEMAIL,
        SEUSERTB.SEUSER_CCODFISC,
        SEUSERTB.SEUSER_CUSRABIL,
        SEUSERTB.SEUSER_GDATAREG,
        SEUSERTB.SEUSER_GDATASCAD,
        SEUSERTB.SEUSER_GSCADCREDEN,
        SEUSERTB.SEUSER_NNUMTENTIVI,
        SEUSERTB.SEUSER_GULTIMOTENT,
        SECUSTTB.SECUST_CCODCUS,
        CONCAT(SEAPPLTB.SEAPPL_CCODAPP,'_')||COALESCE(CONCAT(SEMODUTB.SEMODU_CCODMODU,'_'),'') || COALESCE(CONCAT(SEFUNZTB.SEFUNZ_CCODFUN,'_'),'') || COALESCE(SESFUNTB.SESFUN_CCODSFU,'') as authority
FROM SEUSERTB 
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB
ON SECUSTTB.SECUST_CKEYCUST=SEUTECTB.SECUST_CKEYCUST
INNER JOIN SEAPPCTB
ON SEAPPCTB.SECUST_CKEYCUST=SECUSTTB.SECUST_CKEYCUST
INNER JOIN SEAPPLTB
ON SEAPPLTB.SEAPPL_CKEYAPPL=SEAPPCTB.SEAPPL_CKEYAPPL
INNER JOIN SEGRUUTB
ON SEGRUUTB.SEUTEC_CKEYUTEC=SEUTECTB.SEUTEC_CKEYUTEC
INNER JOIN SEGRUPTB
ON SEGRUPTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELGFNTB
ON SELGFNTB.SEGRUP_CKEYGRUP=SEGRUPTB.SEGRUP_CKEYGRUP
INNER JOIN SELFNSTB
ON SELFNSTB.SELFNS_CKEYLFNS=SELGFNTB.SELFNS_CKEYLFNS
INNER JOIN SEAPPLTB
ON SEAPPLTB.SEAPPL_CKEYAPPL=SELFNSTB.SEAPPL_CKEYAPPL
INNER JOIN SEMODUTB
ON SEMODUTB.SEMODU_CKEYMODU=SELFNSTB.SEMODU_CKEYMODU
INNER JOIN SEFUNZTB
ON SEFUNZTB.SEFUNZ_CKEYFUNZ=SELFNSTB.SEFUNZ_CKEYFUNZ
INNER JOIN SESFUNTB
ON SESFUNTB.SESFUN_CKEYSFUN=SELFNSTB.SESFUN_CKEYSFUN
INNER JOIN SETICKTB
ON SETICKTB.SETICK_CKEYTICK = #{idTicket}
AND  SETICKTB.SETICK_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND  SETICKTB.SETICK_CCODFISC=SEUSERTB.SEUSER_CCODFISC
</select>


<select id="getCodiceFiscaleFromUserApplication" parameterType="UserApplication" resultType="string">
SELECT SEUSERTB.SEUSER_CCODFISC 
FROM SEUSERTB 
INNER JOIN SEUTECTB 
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME 
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB 
ON SECUSTTB.SECUST_CKEYCUST=SEUTECTB.SECUST_CKEYCUST 
AND SECUSTTB.SECUST_CCODCUS=#{customerId}
INNER JOIN SEAPPCTB 
ON SEAPPCTB.SECUST_CKEYCUST=SECUSTTB.SECUST_CKEYCUST 
INNER JOIN SEAPPLTB ON SEAPPLTB.SEAPPL_CKEYAPPL=SEAPPCTB.SEAPPL_CKEYAPPL 
WHERE SEUSERTB.SEUSER_CUSERNAME=#{username}
AND SEAPPLTB.SEAPPL_CKEYAPPL=#{applicationId}
</select>






<select id="isTicketValid" parameterType="string" resultType="int">
SELECT COUNT(*) FROM SETICKTB
WHERE SETICKTB.SETICK_CKEYTICK=#{idTicket}
AND SETICKTB.SETICK_GDATAINS &lt; CURRENT_TIMESTAMP
</select>

<update id="restoreAttempts" parameterType="mutableAccount">
UPDATE SEUSERTB
SET SEUSERTB.SEUSER_NNUMTENTIVI=0
WHERE SEUSERTB.SEUSER_CUSERNAME=#{username}
AND   SEUSERTB.SEUSER_CCODFISC=#{codiceFiscale}
</update> 



<select id="getCodiceFiscaleFromUsernameClient" parameterType="UsernameClient" resultType="string">
SELECT SEUSERTB.SEUSER_CCODFISC 
FROM SEUSERTB 
INNER JOIN SEUTECTB 
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME 
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB 
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
WHERE SEUSERTB.SEUSER_CUSERNAME=#{username}
</select>


<select id="getSignon" parameterType="UsernameClient" resultMap="signon">
SELECT SEPWRDTB.SEPWRD_CKEYPWRD,
       SEPWRDTB.SEPWRD_CPASSWORD,
       SEPWRDTB.SEPWRD_CPASSWOLD,
       SEPWRDTB.SEPWRD_CPASSOLDO,
       SEPWRDTB.SEPWRD_COPERINS,
       SEPWRDTB.SEPWRD_GDATAINS,
       SEPWRDTB.SEPWRD_COPEUVAR,
       SEPWRDTB.SEPWRD_GDATUVAR,
       SEPWRDTB.SEUSER_CKEYUSER
FROM SEUSERTB
INNER JOIN SEUTECTB
ON SEUSERTB.SEUSER_CUSERNAME=SEUTECTB.SEUSER_CUSERNAME
AND SEUSERTB.SEUSER_CCODFISC=SEUTECTB.SEUSER_CCODFISC
INNER JOIN SEPWRDTB
ON SEPWRDTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
INNER JOIN SECUSTTB
ON SECUSTTB.SECUST_CKEYCUST=SEUTECTB.SECUST_CKEYCUST
WHERE SEUSERTB.SEUSER_CUSERNAME=#{username}
AND SECUSTTB.SECUST_CCODCUS=#{customerId}
</select>


<select id="listUserPassword" parameterType="UsernameClient" resultType="string">
SELECT SEPWRD_CPASSWORD FROM SEPWRDTB 
INNER JOIN SEUSERTB
ON SEPWRDTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
AND SEUSERTB.SEUSER_CUSERNAME=#{username}
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB 
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
UNION
SELECT SEPWRD_CPASSWOLD FROM SEPWRDTB
INNER JOIN SEUSERTB
ON SEPWRDTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
AND SEUSERTB.SEUSER_CUSERNAME=#{username}
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB 
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
UNION
SELECT SEPWRD_CPASSOLDO FROM SEPWRDTB
INNER JOIN SEUSERTB
ON SEPWRDTB.SEUSER_CKEYUSER=SEUSERTB.SEUSER_CKEYUSER
AND SEUSERTB.SEUSER_CUSERNAME=#{username}
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=SEUSERTB.SEUSER_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=SEUSERTB.SEUSER_CCODFISC
INNER JOIN SECUSTTB 
ON SECUSTTB.SECUST_CCODCUS=#{customerId}
</select>


<select id="isUserApplicationAuthorized" parameterType="UserApplication" resultType="int">
SELECT count(*) FROM SEAPPLTB
INNER JOIN SEAPPCTB
ON SEAPPCTB.SEAPPL_CKEYAPPL=SEAPPLTB.SEAPPL_CKEYAPPL
AND SEAPPLTB.SEAPPL_CCODAPP=#{applicationId}
INNER JOIN SECUSTTB
ON SEAPPCTB.SECUST_CKEYCUST = SECUSTTB.SECUST_CKEYCUST
AND SECUSTTB.SECUST_CCODCUS=#{customerId}
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=#{username}
</select>

</mapper>
