<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="it.seda.security.persistence.TicketMapper">

	<resultMap id="ticket" type="Ticket">
		<id property="chiavePrimariaDellaTabellaDeiTicket" column="SETICK_CKEYTICK" />
		<result property="username" column="SETICK_CUSERNAME" />
		<result property="codiceFiscaleDelDelegatoPersonaFisica" column="SETICK_CCODFISC" />
		<result property="dataCreazioneTickets" column="SETICK_GDATCREA" />
		<result property="dataScadenzaTicket" column="SETICK_GDATSCAD" />
		<result property="operatoreInserimento" column="SETICK_COPERINS" />
		<result property="dataInserimento" column="SETICK_GDATAINS" />
		<result property="operatoreUltimaVariazione" column="SETICK_COPEUVAR" />
		<result property="dataUltimaVariazione" column="SETICK_GDATUVAR" />
		<result property="chiavePrimariaDelleApplicazioni" column="SEAPPL_CKEYAPPL" />
	</resultMap> 	

<!--  
	<insert id="insertTicket" parameterType="Ticket">
		INSERT INTO TICKETS (ID, USERNAME, APPLICATION_ID, EXPIRATION_DATE)
		VALUES (#{id},#{username},#{applicationId}, #{expirationDate})
	</insert>
-->
<!--ORACLE DB INIZIO -->
<insert id="insertTicket" parameterType="Ticket">
INSERT INTO SETICKTB (SETICK_CKEYTICK, 
                          SETICK_CUSERNAME, 
                          SETICK_CCODFISC, 
                          SETICK_GDATCREA,
                          SETICK_GDATSCAD,
                          SETICK_COPERINS,
                          SETICK_GDATAINS,
                          SETICK_COPEUVAR,
                          SETICK_GDATUVAR,
                          SEAPPL_CKEYAPPL)
		VALUES (#{chiavePrimariaDellaTabellaDeiTicket},
            #{username},
            #{codiceFiscaleDelDelegatoPersonaFisica}, 
            #{dataCreazioneTickets},
            #{dataScadenzaTicket},
            #{operatoreInserimento},
            CURRENT_TIMESTAMP,
            #{operatoreUltimaVariazione},
            CURRENT_TIMESTAMP,
            #{chiavePrimariaDelleApplicazioni}
            )
 </insert>
<!-- ORACLE DB FRNE -->
<!-- 
	<delete id="deleteTicket" parameterType="Ticket">
		DELETE FROM TICKETS
		WHERE ID=#{id}
	</delete>
 -->
 <!--ORACLE DB INIZIO -->
 <delete id="deleteTicket" parameterType="Ticket">
		DELETE FROM TICKETS
		WHERE ID=#{chiavePrimariaDellaTabellaDeiTicket}
	</delete>
 <!-- ORACLE DB FRNE -->
 <!--  
	<select id="selectTicket" parameterType="string">
	    SELECT TICKETS.ID
	         , TICKETS.USERNAME
	         , TICKETS.APPLICATION_ID
	         , TICKETS.CREATION_DATE	         
	         , TICKETS.EXPIRATION_DATE	         
	     FROM TICKETS
	    WHERE TICKETS.ID=#{id}
	</select>
-->
<!--ORACLE DB INIZIO -->
<select id="selectTicket" parameterType="string">
SELECT SETICKTB.SETICK_CKEYTICK
	         , SETICKTB.SETICK_CUSERNAME
	         , SETICKTB.SETICK_CCODFISC
	         , SETICKTB.SETICK_GDATCREA	         
	         , SETICKTB.SETICK_GDATSCAD	
           , SETICKTB.SETICK_COPERINS	
           , SETICKTB.SETICK_GDATAINS	
           , SETICKTB.SETICK_COPEUVAR	
           , SETICKTB.SETICK_GDATUVAR
           , SETICKTB.SEAPPL_CKEYAPPL
	     FROM SETICKTB
	    WHERE SETICKTB.SETICK_CKEYTICK=#{chiavePrimariaDellaTabellaDeiTicket}
</select>
 <!-- ORACLE DB FINE -->
 <!--  
	<select id="listTicket" resultMap="ticket" parameterType="Ticket">
	    SELECT TICKETS.ID
	         , TICKETS.USERNAME
	         , TICKETS.APPLICATION_ID
	         , TICKETS.CREATION_DATE	         
	         , TICKETS.EXPIRATION_DATE	         
	     FROM TICKETS
	     <where>
	     	<if test="username != null"> username=#{username}</if>
	     	<if test="application_id != null"> application_id=#{application_id}</if>
	     </where>
	    ORDER BY TICKETS.EXPIRATION_DATE DESC	       		
	</select>
	-->
<!--  ORACLE DB INIZIO -->
<select id="listTicket" resultMap="ticket" parameterType="Ticket">
SELECT SETICKTB.SETICK_CKEYTICK
	         , SETICKTB.SETICK_CUSERNAME
	         , SETICKTB.SETICK_CCODFISC
	         , SETICKTB.SETICK_GDATCREA	         
	         , SETICKTB.SETICK_GDATSCAD	
           , SETICKTB.SETICK_COPERINS	
           , SETICKTB.SETICK_GDATAINS	
           , SETICKTB.SETICK_COPEUVAR	
           , SETICKTB.SETICK_GDATUVAR
           , SETICKTB.SEAPPL_CKEYAPPL
	     FROM SETICKTB
	     <where>
	     	<if test="username != null"> SETICK_CUSERNAME=#{username}</if>
	     	<if test="chiavePrimariaDelleApplicazioni != null"> SEAPPL_CKEYAPPL=#{chiavePrimariaDelleApplicazioni}</if>
	     </where>
	    ORDER BY SETICKTB.SETICK_GDATSCAD DESC	
</select> 
<!-- ORACLE DB FINE -->
<!--  
	<select id="listTicketCount" resultType="int" parameterType="Ticket">
	    SELECT COUNT(*)
	     FROM TICKETS
	     <where>
	     	<if test="username != null"> username=#{username}</if>
	     	<if test="application_id != null"> application_id=#{application_id}</if>
	     </where>
	</select>
-->
<select id="listTicketCount" resultType="int" parameterType="Ticket">
SELECT COUNT(*)
	     FROM SETICKTB
	     <where>
	     	<if test="username != null">SETICK_CUSERNAME=#{username}</if>
	     	<if test="chiavePrimariaDelleApplicazioni != null"> SEAPPL_CKEYAPPL=#{chiavePrimariaDelleApplicazioni}</if>
	     </where>
</select>



<select id="getNotExpiredTicket" resultMap="ticket" parameterType="UserApplication">
     SELECT  SETICKTB.SETICK_CKEYTICK
	       , SETICKTB.SETICK_CUSERNAME
	       , SETICKTB.SETICK_CCODFISC
	       , SETICKTB.SETICK_GDATCREA	         
	       , SETICKTB.SETICK_GDATSCAD	
           , SETICKTB.SETICK_COPERINS	
           , SETICKTB.SETICK_GDATAINS	
           , SETICKTB.SETICK_COPEUVAR	
           , SETICKTB.SETICK_GDATUVAR
           , SETICKTB.SEAPPL_CKEYAPPL
	     FROM SETICKTB
WHERE SETICK_CUSERNAME = #{username}
   AND SEAPPL_CKEYAPPL  = #{applicationId}
   AND SETICK_GDATSCAD  > CURRENT_TIMESTAMP
   AND SETICK_CCODFISC  = (SELECT SEUSER_CCODFISC
                             FROM SEUTECTB,
                                  SECUSTTB
                            WHERE SECUST_CCODCUS = #{customerId}
                              AND SEUTECTB.SEUSER_CUSERNAME = SETICK_CUSERNAME
                              AND SEUTECTB.SECUST_CKEYCUST = SECUSTTB.SECUST_CKEYCUST)
	    
</select>

<select id="getAllLastTickets" resultMap="ticket" parameterType="UserApplication">
SELECT  A1.SETICK_CKEYTICK
	       , A1.SETICK_CUSERNAME
	       , A1.SETICK_CCODFISC
	       , A1.SETICK_GDATCREA	         
	       , A1.SETICK_GDATSCAD	
         , A1.SETICK_COPERINS	
         , A1.SETICK_GDATAINS	
         , A1.SETICK_COPEUVAR	
         , A1.SETICK_GDATUVAR
         , A1.SEAPPL_CKEYAPPL
	     FROM SETICKTB A1
   WHERE  A1.SETICK_CUSERNAME =  #{username}
   AND  A1.SETICK_GDATSCAD  = (SELECT MAX(B.SETICK_GDATSCAD) FROM SETICKTB B 
                                WHERE B.SETICK_CUSERNAME=A1.SETICK_CUSERNAME
                                AND B.SETICK_CCODFISC=A1.SETICK_CCODFISC
                                AND B.SEAPPL_CKEYAPPL=A1.SEAPPL_CKEYAPPL)
   AND  A1.SETICK_CCODFISC  = (SELECT SEUSER_CCODFISC
                             FROM SEUTECTB,
                                  SECUSTTB
                            WHERE SECUST_CCODCUS = #{customerId}
                              AND SEUTECTB.SEUSER_CUSERNAME = SETICK_CUSERNAME
                              AND SEUTECTB.SECUST_CKEYCUST = SECUSTTB.SECUST_CKEYCUST)  
</select>




<select id="getAllUserApplicationTickets" resultMap="ticket" parameterType="string">
SELECT A1.SETICK_CKEYTICK
	       , A1.SETICK_CUSERNAME
	       , A1.SETICK_CCODFISC
	       , A1.SETICK_GDATCREA	         
	       , A1.SETICK_GDATSCAD	
         , A1.SETICK_COPERINS	
         , A1.SETICK_GDATAINS	
         , A1.SETICK_COPEUVAR	
         , A1.SETICK_GDATUVAR
         , A1.SEAPPL_CKEYAPPL
FROM  SEAPPCTB
INNER JOIN SETICKTB A1
ON  A1.SETICK_CKEYTICK=#{ticketId}
AND  A1.SETICK_GDATSCAD=(SELECT MAX(A2.SETICK_GDATSCAD) 
                              FROM SETICKTB A2
                              WHERE A2.SETICK_CKEYTICK=A1.SETICK_CKEYTICK )
INNER JOIN SEUTECTB
ON SEUTECTB.SEUSER_CUSERNAME=A1.SETICK_CUSERNAME
AND SEUTECTB.SEUSER_CCODFISC=A1.SETICK_CCODFISC

</select>




</mapper>